{% extends "index.html" %}
{% block addmodal %}
<div class="modal fade" id="CreateRoomModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-info">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body modal-spa">
                <div class="sign-grids">
                    <div class="sign">
                        <div class="sign-left">
                            <ul>
                                <li><a class="fb" href="#"><i></i>Nhắn Tin</a></li>
                                <li><a class="goog" href="#"><i></i>Nghe Nhạc</a></li>
                                <li><a class="linkin" href="#"><i></i>Hãy Làm Người Kết Nối</a></li>
                            </ul>
                            <!--<div id="alert_placeholder"></div>-->
                        </div>
                        <div class="sign-right">
                            <form name="createroomform" id="createroomformid" method='POST'>
                                <input type="text" id="roomnameid" name="roomname" value="Nhập Tên Phòng"
                                    onfocus="this.value = '';"
                                    onblur="if (this.value == '') {this.value = 'Nhập Tên Phòng';}" required="">
                                <input type="text" id="topicid" name="topic" value="Nhập Chủ Đề"
                                    onfocus="this.value = '';"
                                    onblur="if (this.value == '') {this.value = 'Nhập Chủ Đề';}" required="">
                                <input type="password" id="roompasswordid" name="roompassword"
                                    value="Nhập Password Phòng" onfocus="this.value = '';"
                                    onblur="if (this.value == '') {this.value = 'Nhập Password Phòng';}" required="">

                                <input id="createroom" type="submit" value="Tạo Phòng">

                            </form>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <p>Nhấn vào nút <span>Tạo phòng</span> đồng nghĩa với bạn đã đồng ý với <span>điều khoản sử
                            dụng</span> của
                        chúng tôi</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock addmodal %}
{% block content %}
<div id="page-wrapper">
    <div class="inner-content">
        <div class="music-browse">
            <!--albums-->
            <!-- pop-up-box -->
            <link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all">
            <script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
            <script>
                $(document).ready(function () {
                    $('.popup-with-zoom-anim').magnificPopup({
                        type: 'inline',
                        fixedContentPos: false,
                        fixedBgPos: true,
                        overflowY: 'auto',
                        closeBtnInside: true,
                        preloader: false,
                        midClick: true,
                        removalDelay: 300,
                        mainClass: 'my-mfp-zoom-in'
                    });
                });
            </script>
            <!--//pop-up-box -->

            <div class="browse">
                <div class="tittle-head two">
                    <h3 class="tittle">Phòng<span class="new">Của Bạn</span></h3>
                    <a href="browse.html">
                        <h4 class="tittle third">See all</h4>
                    </a>
                    <div class="clearfix"> </div>
                </div>
                <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
                            <div class="browse-inner">
                                <!-- /agileits -->
                                {% for room in yourroom %}
                                <div class="col-md-3 artist-grid">
                                    <a href="/roomlisten/chat/{{room.name}}"><img src="https://picsum.photos/300/300" title="allbum-name"></a>
                                    <a href="/roomlisten/chat/{{room.name}}"><i class="glyphicon glyphicon-play-circle"></i></a>
                                    <a class="art" href="/roomlisten/chat/{{room.name}}">{{room.topic}}</a>
                                </div>
                                {% endfor %}
                                <div class="col-md-3 artist-grid">
                                    <a data-toggle="modal" data-target="#CreateRoomModal"><img
                                            src="https://picsum.photos/300/300" title="allbum-name"></a>
                                    <a href="#" data-toggle="modal" data-target="#CreateRoomModal"><i
                                            class=" glyphicon glyphicon-plus-sign"></i></a>
                                    <a class="art" data-toggle="modal" data-target="#CreateRoomModal">Thêm Phòng Mới</a>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /agileinfo -->
        </div>
        <!--//End-albums-->

        <!--//discover-view-->
        <div class="albums fourth">
            <div class="tittle-head two">
                <h3 class="tittle">Phòng<span class="new">Phòng Khác</span></h3>
                <a href="browse.html">
                    <h4 class="tittle third">See all</h4>
                </a>
                <div class="clearfix"> </div>
            </div>
            {% for room in otherroom %}
            <div class="col-md-3 artist-grid">
                <a href="/roomlisten/chat/{{room.name}}"><img src="https://picsum.photos/300/300" title="allbum-name"></a>
                <a href="/roomlisten/chat/{{room.name}}"><i class="glyphicon glyphicon-play-circle"></i></a>
                <a class="art" href="/roomlisten/chat/{{room.name}}">{{room.topic}}</a>
            </div>
            {% endfor %}
            <div class="clearfix"> </div>
        </div>
    </div>
    <!--//discover-view-->
    <!--//music-left-->
</div>
<!--body wrapper start-->
</div>
<div class="clearfix"></div>
<!--body wrapper end-->
<!-- /w3layouts-agile -->
</div>
<!--body wrapper end-->
<div class="footer two">
    <div class="footer-grid">
        <h3>Navigation</h3>
        <ul class="list1">
            <li><a href="index.html">Home</a></li>
            <li><a href="radio.html">All Songs</a></li>
            <li><a href="browse.html">Albums</a></li>
            <li><a href="radio.html">New Collections</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </div>
    <div class="footer-grid">
        <h3>Our Account</h3>
        <ul class="list1">
            <li><a href="#" data-toggle="modal" data-target="#myModal5">Your Account</a></li>
            <li><a href="#">Personal information</a></li>
            <li><a href="#">Addresses</a></li>
            <li><a href="#">Discount</a></li>
            <li><a href="#">Orders history</a></li>
            <li><a href="#">Addresses</a></li>
            <li><a href="#">Search Terms</a></li>
        </ul>
    </div>
    <div class="footer-grid">
        <h3>Our Support</h3>
        <ul class="list1">
            <li><a href="contact.html">Site Map</a></li>
            <li><a href="#">Search Terms</a></li>
            <li><a href="#">Advanced Search</a></li>
            <li><a href="#">Mobile</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="#">Mobile</a></li>
            <li><a href="#">Addresses</a></li>
        </ul>
    </div>
    <div class="footer-grid">
        <h3>Newsletter</h3>
        <p class="footer_desc">Nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
            consequat</p>
        <div class="search_footer">
            <form>
                <input type="text" placeholder="Email...." required="">
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    <div class="footer-grid footer-grid_last">
        <h3>About Us</h3>
        <p class="footer_desc">Diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat enim ad
            minim veniam,.</p>
        <p class="f_text">Phone: &nbsp;&nbsp;&nbsp;00-250-2131</p>
        <p class="email">Email : &nbsp;<span><a href="mailto:mail@example.com">info(at)mailing.com</a></span></p>
    </div>
    <div class="clearfix"> </div>
</div>
</div>
{% endblock content %}

{% block script %}
<script>
    // var yourroom = {
    //     {
    //         yourroom
    //     }
    // };
    // window.onload = function () {
    //     for (let i = 0; i < yourroom.length; i++) {
    //         CreateRoom(yourroom[i], 0);
    //     }
    // }
    // $(document).ready(function(){
    //     for (let i = 0; i < yourroom.length; i++){
    //         CreateRoom(yourroom[i], 0);
    //     }
    // });
    function CreateRoom(json, type) {
        roomname = json['roomname'];
        topic = json['topic'];
        const BrowseInner = document.querySelector(".browse-inner");
        const Ablums = document.querySelector(".albums");
        const Room = document.createElement("div");
        Room.classList.add("col-md-3", "artist-grid");

        const AImage = document.createElement("a");
        AImage.setAttribute("href", "/roomlisten/chat/" + roomname);
        const Image = document.createElement("img");
        Image.setAttribute("src", "https://picsum.photos/300/300");
        Image.setAttribute("title", "allbum-name");
        AImage.append(Image); //composite

        const AGlyphicon = document.createElement("a");
        AGlyphicon.setAttribute("href", "/roomlisten/chat/" + roomname);
        const Glyphicon = document.createElement("i");
        Glyphicon.classList.add("glyphicon", "glyphicon-play-circle");
        AGlyphicon.append(Glyphicon);

        const Art = document.createElement("a");
        Art.setAttribute("href", "/roomlisten/chat/" + roomname);
        Art.classList.add("art");
        Art.textContent = topic;

        Room.append(AImage, AGlyphicon, Art);
        if (type === 0) {
            BrowseInner.prepend(Room);
        } else {
            Ablums.prepend(Room);
        }
    }
    $(document).on('submit', '#createroomformid', function (e) {
        e.preventDefault();
        var roomname = document.forms["createroomformid"]["roomname"].value;
        var roompassword = document.forms["createroomformid"]["roompassword"].value;
        var topic = document.forms["createroomformid"]["topic"].value;
        if (roomname === 'Nhập Tên Phòng' || !/^[A-Za-z][A-Za-z0-9]+$/.test(roomname)) {
            alert("Tên phòng không hợp lệ");
            return false;
        }
        if (roomname === 'Nhập Password Phòng' || !/.{5}.+/.test(roompassword)) {
            alert("Password không hợp lệ");
            return false;
        }
        if (topic === 'Nhập Chủ Đề' || !/[ !@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/.test(topic)) {
            alert("Chủ đề  không hợp lệ");
            return false;
        }
        $.ajax({
            type: 'POST',
            url: '/roomlisten/create/',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                roomname: roomname,
                topic: topic,
                password: roompassword,
            },
            success: function (e) {
                $('.close').trigger('click');

                var json = {
                    "roomname": roomname,
                    "topic": topic
                };
                CreateRoom(json, 0);

            },
            error: function (e) {
                alert('Phòng đã tồn tại');
            },
        });
    });
</script>
{% endblock script %}