{% extends "index.html" %}
{% block content %}
<div id="page-wrapper">

    <div class="inner-content">
        <div class="tittle-head">
            <h3 class="tittle">Find Us </h3>
            <div class="clearfix"> </div>
        </div>
        <!-- /contact-->
        <div class="contact">
            <div class="contact-left">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5477.402277390073!2d106.80309082654253!3d10.879152622068307!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d8a5568c997f%3A0xdeac05f17a166e0c!2sHo+Chi+Minh+city+University+of+Technology!5e0!3m2!1sen!2s!4v1557997372497!5m2!1sen!2s" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>   
            </div>
            <div class="contact-right">
                <p class="phn">Khoa Khoa Học Và Kỹ Thuật Máy Tính</p>
                <p class="phn-bottom">Khóa 2017 - Thực Tập Công Nghệ Phần Mềm
                    <span> Thực Hiện Bởi Nhóm 73:</span></p>
                <p class="lom">Võ Văn Đức</p>
                <p class="lom">Nguyễn Lê Tiến Đạt</p>
                <p class="lom">Lê Hoàng Long</p>
            </div>
            <div class="clearfix"> </div>
            <div class="contact-right1">
                <h3><span>Trang Nghe Nhạc Trực Tuyến</span></h3>
                <h4>Nullam ac urna velit pellentesque in <label>arcu tortor
                        Pellentesque nec</label></h4>
                <p>Nullam ac urna velit. Pellentesque in arcu tortor.
                    Pellentesque nec est et elit varius pulvinar eget vitae sapien.
                    Aenean vehicula accumsan gravida. Cum sociis natoque penatibus
                    et magnis dis parturient montes, nascetur ridiculus mus. Phasellus
                    et lectus in urna consequat consectetur ut eget risus.</p>
                <ul class=" side-icons con">
                    <li><a class="fb" href="#"></a></li>
                    <li><a class="twitt" href="#"></a></li>
                    <li><a class="goog" href="#"></a></li>
                    <li><a class="drib" href="#"></a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
            <!-- //contact -->
            <!-- /wthree-agile -->
        </div>
    </div>
    <div class="clearfix"></div>
</div>
{% endblock content %}