<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{%load static from staticfiles %}
<!DOCTYPE HTML>
<html>

<head>
	<title>Mosaic a Entertainment Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Mosaic Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- Bootstrap Core CSS -->
	<link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
	<!-- Custom CSS -->
	<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
	<!-- Graph CSS -->
	<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
	<!-- jQuery -->
	<!-- lined-icons -->
	<link rel="stylesheet" href="{% static 'css/icon-font.css' %}" type='text/css' />
	<!-- //lined-icons -->
	<!-- Meters graphs -->
	<script src="{% static 'js/jquery-2.1.4.js' %}"></script>
	{% block header %}

	{% endblock header %}

</head>
<!-- /w3layouts-agile -->

<body class="sticky-header left-side-collapsed" onload="">
	<section>
		<!-- left side start-->
		<div class="left-side sticky-left-side">

			<!--logo and iconic logo start-->
			<div class="logo">
				<h1><a href="{% url 'home' %}">Mosai<span>c</span></a></h1>
			</div>
			<div class="logo-icon text-center">
				<a href="{% url 'home' %}">M </a>
			</div>
			<!-- /w3l-agile -->
			<!--logo and iconic logo end-->
			<div class="left-side-inner">

				<!--sidebar nav start-->
				<ul class="nav nav-pills nav-stacked custom-nav">
					<li class="active"><a href="{% url 'home' %}"><i class="lnr lnr-home"></i><span>Trang Chủ</span></a></li>
					<li><a href="{% url 'roomlisten' %}"><i class="camera"></i> <span>Nghe Nhạc Chung</span></a></li>
					<li><a href="{% url 'upload' %}"><i class="lnr lnr-music-note"></i> <span>Đóng Góp Nhạc</span></a></li>
					<li><a href="{% url 'contact' %}"><i class="fa fa-thumb-tack"></i> <span>Liên Hệ</span></a></li>
				</ul>
				<!--sidebar nav end-->
			</div>
		</div>
		<!-- /w3layouts-agile -->
		<!-- app-->
		<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog facebook" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
								aria-hidden="true">&times;</span></button>
					</div>
					<div class="modal-body">
						<div class="app-grids">
							<div class="app">
								<div class="col-md-5 app-left mpl">
									<h3>Mosaic mobile app on your smartphone!</h3>
									<p>Download and Avail Special Songs Videos and Audios.</p>
									<div class="app-devices">
										<h5>Gets the app from</h5>
										<a href="#"><img src="{% static 'images/1.png' %}" alt=""></a>
										<a href="#"><img src="{% static 'images/2.png' %}" alt=""></a>
										<div class="clearfix"> </div>
									</div>
								</div>
								<div class="col-md-7 app-image">
									<img src="{% static 'images/apps.png' %}" alt="">
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- //app-->
		<!-- /w3l-agile -->
		<!-- signup -->
		<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
			id="dialogsignup">
			<div class="modal-dialog" role="document">
				<div class="modal-content modal-info">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
								aria-hidden="true">&times;</span></button>
					</div>
					<div class="modal-body modal-spa">
						<div class="sign-grids">
							<div class="sign">
								<div class="sign-left">
									<ul>
										<li><a class="fb" href="#"><i></i>Sign in with Facebook</a></li>
										<li><a class="goog" href="#"><i></i>Sign in with Google</a></li>
										<li><a class="linkin" href="#"><i></i>Sign in with Linkedin</a></li>
									</ul>
									<div id="alert_placeholder"></div>
								</div>
								<div class="sign-right">
									<form name="signupform" id="signupformid" method="POST">
										{% csrf_token %}
										<h3>Đăng Kí Tài Khoản</h3>
										<input id="lnameid" type="text" name="lname" value="Nhập Họ"
											onfocus="this.value = '';"
											onblur="if (this.value == '') {this.value = 'Nhập Họ';}" required="">
										<input id="fnameid" type="text" name="fname" value="Nhập Tên"
											onfocus="this.value = '';"
											onblur="if (this.value == '') {this.value = 'Nhập Tên';}" required="">
										<select id="genderid" name="gender">
											<option value="">Chọn Giới Tính</option>
											<option value="female">Nữ</option>
											<option value="male">Nam</option>
											<option value="other">Khác</option>
										</select>
										<select id="roleid" name="role">
											<option value="">Chọn Loại Người Dùng</option>
											<option value="user">Người dùng thông thường</option>
											<option value="publisher">Nhà sản xuất</option>
										</select>
										<input type="text" id="emailid" name="email" value="Nhập Email"
											onfocus="this.value = '';"
											onblur="if (this.value == '') {this.value = 'Nhập Email';}" required="">
										<input type="text" id="usernameid" name="username" value="Nhập Username"
											onfocus="this.value = '';"
											onblur="if (this.value == '') {this.value = 'Nhập Username';}" required="">
										<input type="password" id="passwordid" name="password" value="Nhập Password"
											onfocus="this.value = '';"
											onblur="if (this.value == '') {this.value = 'Nhập Password';}" required="">

										<input id="submitbutton" type="submit" value="Tạo Tài Khoản">

									</form>

								</div>
								<div class="clearfix"></div>
							</div>
							<p>Nhấn vào nút <span>Đăng Ký</span> đồng nghĩa với bạn đã đồng ý với <span>điều khoản sử
									dụng</span> của
								chúng tôi</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% block addmodal %}

		{% endblock addmodal %}
		<!-- //signup -->
		<!-- /w3l-agile -->
		<!-- left side end-->
		<!-- main content start-->
		<div class="main-content">
			<!-- header-starts -->
			<div class="header-section">
				<!--toggle button start-->
				<a class="toggle-btn  menu-collapsed"><i class="fa fa-bars"></i></a>
				<!--toggle button end-->
				<!--notification menu start -->
				<div class="menu-right">
					<div class="profile_details">
						<div class="col-md-4 serch-part">
							<div id="sb-search" class="">
								<form action="{% url 'search_result' %}" name="searchform" id="searchformid"
									method="POST">
									{% csrf_token %}
									<input class="sb-search-input dropdown-toggle" placeholder="Search...." type="text" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
										name="searchtext" id="searchid" value autocomplete="off" >
									<input id="searchbutton" class="sb-search-submit" type="submit" value="">
									<span class="sb-icon-search"> </span>
								</form>
								<!--TEST-->
								
								<!--TEST-->
							</div>
							<div id="disb">
									<ul id="search-results"></ul>	
							</div>
						</div>

						<!-- search-scripts-->
						<script src="{% static 'js/classie.js' %}"></script>
						<script src="{% static 'js/uisearch.js' %}"></script>
						<script>
							new UISearch(document.getElementById('sb-search'));
						</script> 
						<!-- //search-scripts -->
						<!---->
						<div class="col-md-4 login-pop">
							{% if user.is_authenticated%}
							<p id="p_usernameid">
								Xin chào	
								<a href="#" data-toggle="modal" id="a_username_id"
									data-target="#Modal_Info"><span>{{ user.username }}</span></a></li>
								!!!
							</p>
							<div id="loginpop"> <a href="{% url 'logout' %}" id="logoutButton"><span>Logout<i
											class="arrow glyphicon glyphicon-chevron-right"></i></span></a></div>
							<a href="#" id="a_change_id" data-toggle="modal" data-target="#ChangePass"><span>Đổi mật
									khẩu</span></a>
							<!-- Modal_Ifo -->
							<div id="Modal_Info" class="modal fade" role="dialog">
								<div class="modal-dialog">

									<!-- Modal content-->
									<div class="modal-content">
										<div class="modal-header">
											<!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
											<h2 class="h2-modal">Thông tin cá nhân</h2>
										</div>
										<div class="modal-body">
											<form action='#' name="infoform" id="infoformid" method="POST">
												<label for="lname"><b>Tên:</b></label>
												<input class="input" readonly="true" type="text" name="lname"
													value="{{ user.last_name }}">
												<div class="clearfix"></div>
												<label for="lname"><b>Họ:</b></label>
												<input class="input" readonly="true" type="text" name="fname"
													value="{{ user.first_name }}">
												<div class="clearfix"></div>
												<label for="lname"><b>Giới tính:</b></label>
												<input class="input" readonly="true" type="text" name="gender"
													value="{{ user.gender }}">
												<div class="clearfix"></div>
												<label for="lname"><b>Email:</b></label>
												<input class="input" readonly="true" type="text" name="email"
													value="{{ user.email }}">
												<div class="clearfix"></div>
												<label for="lname"><b>Tên đăng nhập:</b></label>
												<input class="input" readonly="true" type="text" name="username"
													value="{{ user.username }}">
											</form>
											<div class="clearfix"></div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default"
												data-dismiss="modal">Close</button>
										</div>
									</div>

								</div>
							</div>
							<!-- End_Modal_Info -->
							<!-- Modal_ChangePassword -->
							<div id="ChangePass" class="modal fade" role="dialog">
								<div class="modal-dialog">

									<!-- Modal content-->
									<div class="modal-content">
										<div class="modal-header">
											<!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
											<h2 class="h2-modal">Đổi mật khẩu</h2>
										</div>
										<div class="modal-body">
											<form action='#' name="changeform" id="changeform" method="POST"
												onsubmit="return validateChangeForm()">
												{% csrf_token %}
												<div id="alertchange_placeholder"></div>
												<label for="lname"><b>Tên đăng nhập:</b></label>
												<input id="usernameid1" class="input" readonly="true" type="text"
													name="username" value="{{ user.username }}">
												<div class="clearfix"></div>
												<label for="lname"><b>Mật khẩu:</b></label>
												<input class="input" type="password" id="passwordid1" name="password"
													value="Nhập Password" onfocus="this.value = '';"
													onblur="if (this.value == '') {this.value = 'Nhập Password';}"
													required="">
												<div class="clearfix"></div>
												<label for="lname"><b>Mật khẩu mới:</b></label>
												<input id="newpasswordid" class="input" type="password"
													name="newpassword" value="Nhập Password" onfocus="this.value = '';"
													onblur="if (this.value == '') {this.value = 'Nhập Password';}"
													required="">
												<div class="clearfix"></div>
												<label for="lname"><b>Nhập lại mật khẩu mới:</b></label>
												<input class="input" type="password" id="repasswordid" name="repassword"
													value="Nhập Password" onfocus="this.value = '';"
													onblur="if (this.value == '') {this.value = 'Nhập Password';}"
													required="">
												<div class="clearfix"></div>
												<input id="submit" type="submit" value="Lưu">
											</form>
											<div class="clearfix"></div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default"
												data-dismiss="modal">Close</button>
										</div>
									</div>

								</div>
							</div>
							<!--Modal-ChangePassword-->
							{% else %}
							<div id="loginpop"> <a href="#" id="loginButton"><span>Login <i
											class="arrow glyphicon glyphicon-chevron-right"></i></span></a><a
									class="top-sign" href="#" data-toggle="modal" data-target="#myModal5"><i
										class="fa fa-sign-in"></i></a>
								<div id="loginBox">

									<form id="loginForm" name="loginForm" method="post"
										onsubmit="return validateLoginForm()" action='/login/'>
										{% csrf_token %}
										<div id="alertlogin_placeholder"></div>
										<fieldset id="body">
											<fieldset>
												<label for="username">Username</label>
												<input type="text" name="username" id="username">
											</fieldset>
											<fieldset>
												<label for="password">Password</label>
												<input type="password" name="password" id="password">
											</fieldset>
											<input type="submit" id="login" value="Sign in">
											<!-- <label for="checkbox"><input type="checkbox" id="checkbox"> <i>Remember me</i></label> -->
										</fieldset>

										<span><a href="#">Forgot your password?</a></span>
									</form>

								</div>
							</div>
							{% endif %}
						</div>
						<div class="clearfix"> </div>
					</div>
					<!-------->

				</div>
				<div class="clearfix"></div>
			</div>
			<!-- content for extends -->
			{% block content %}

			{% endblock content %}

		
		</div>
		<!--body wrapper start-->
		<script type="text/javascript" src="{% static 'js/jquery.flexisel.js' %}"></script>
		</div>
		</div>
		<div class="clearfix"></div>
		<!--body wrapper end-->
		<!-- /w3l-agile -->
		</div>
		<!--body wrapper end-->
		<div style="padding-top: 40px;">

		</div>
		<!--footer section start-->
		<footer>
			<p>&copy 2016 Mosaic. All Rights Reserved | Design by <a href="https://w3layouts.com/"
					target="_blank">w3layouts.</a></p>
		</footer>
		<!--footer section end-->
		<!-- /w3l-agile -->
		<!-- main content end-->
	</section>
	<script src="{% static 'js/register.js' %}"></script>
	<script src="{% static 'js/jquery.nicescroll.js' %}"></script>
	<script src="{% static 'js/scripts.js' %}"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="{% static 'js/bootstrap.js' %}"></script>
	<script>
		function showalertlogin(message) {
			$('#login').attr("disabled", true);
			$('#alertlogin_placeholder').append(
				'<div id="alertdiv"  class="alert alert-danger" role="alert" align="center"><a class="close" data-dismiss="alert">×</a><span>' +
				message + '</span></div>')
			setTimeout(function () {
				$("#alertdiv").remove();
				$('#login').attr("disabled", false);
			}, 5000);
		}

		function validateLoginForm() {
			var username = document.forms["loginForm"]["username"].value;
			var password = document.forms["loginForm"]["password"].value;
			if (!/^[A-Za-z][A-Za-z0-9]+$/.test(username)) {
				showalertlogin("Thông tin tài khoản không đúng");
				return false;
			}
			if (!/.{5}.+/.test(password)) {
				showalertlogin("Thông tin tài khoản không đúng");
				return false;
			}
			return true;
		}
	</script>
	{% block script %}

	{% endblock script %}
	<script>
		function showalertchange(message) {
			$('#submit').attr("disabled", true);
			$('#alertchange_placeholder').append('<div id="alertdiv"  class="alert alert-danger" role="alert" align="center"><a class="close" data-dismiss="alert">×</a><span>' + message + '</span></div>')
			setTimeout(function () {
				$("#alertdiv").remove(); $('#submit').attr("disabled", false);
			}, 5000);
		}
		function validateChangeForm() {
			var username = document.forms["changeform"]["username"].value;
			var password = document.forms["changeform"]["password"].value;
			var newpassword = document.forms["changeform"]["newpassword"].value;
			var repassword = document.forms["changeform"]["repassword"].value;

			if (!/.{5}.+/.test(password)) {
				showalertchange("Mật khẩu có ít nhất 6 ký tự");
				return false;
			}
			if (!/.{5}.+/.test(newpassword)) {
				showalertchange("Mật khẩu mới có ít nhất 6 ký tự");
				return false;
			}
			if (!/.{5}.+/.test(repassword)) {
				showalertchange("Mật khẩu mới có ít nhất 6 ký tự");
				return false;
			}
			if (newpassword != repassword) {
				showalertchange("Hai mật khẩu không trùng khớp");
				return false;
			}
			return true;
		}
		$(document).on('submit', '#changeform', function (e) {
			e.preventDefault();
			if (validateChangeForm() == true) {
				$.ajax({
					type: 'POST',
					url: '/changepass/',
					data: {
						username: $('#usernameid1').val(),
						password: $('#passwordid1').val(),
						newpassword: $('#newpasswordid').val(),
						csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
					},
					success: function () {
						$('#submit').attr("disabled", true);
						$('#alertchange_placeholder').append('<div id="alertdiv"  class="alert alert-success" role="alert" align="center"><a class="close" data-dismiss="alert">×</a><span>Lưu Thành Công</span></div>')
						setTimeout(function () {
							$("#alertdiv").remove();
						}, 5000);
					},
					error: function (xhr, ajaxOptions, thrownError) {
						switch (xhr.status) {
							case 417:
								showalertchange("Sai mật khẩu!");
								break;
						}

					}
				});
			}
		});                                    
	</script>
	<script>
		$("#searchid").keydown(function (e) {
			var keycode = (event.keyCode ? event.keyCode : event.which);
			var search = $('#searchid').val();
			
			if (keycode != '13') {
				$.ajax({
					url: "{% url 'search_result' %}",
					type: "POST",
					data: {
						search_string: $('#searchid').val(),
						csrfmiddlewaretoken: '{{csrf_token}}'
					},
					dataType: 'json',
					success: function (response) {	
						$("#search-results").empty();
						if ( response.length > 0 && search!=""){
							if(response[0].length > 0){
								$("#search-results").append('<img class="icon_songs" src="{% static "images/iconmusic.jpeg" %}" width="70px" height="70px" alt="error">');
								$("#search-results").append('<span class="title_search">Bài hát</span>');
								$("#search-results").append('<div class="clearfix"> </div>');
								for (var i = 0; i <  response[0].length; i++) {
									var id = response[0][i].id;
									var name = response[0][i].name;
									var title = response[0][i].title;
									$("#search-results").append('<li><a class="element_search" href = "/song/' + id + '/">' + title +' - '+ name + '</a></li>');
								}
							}
							if(response[1].length > 0){
								$("#search-results").append('<img class="icon_songs" src="{% static "images/iconartist.png" %}" width="70px" height="70px" alt="error">');
								$("#search-results").append('<span class="title_search">Nghệ sĩ</span>');
								$("#search-results").append('<div class="clearfix"> </div>');
								for (var i = 0; i <  response[1].length; i++) {
									var id = response[1][i].id;
									var name = response[1][i].name;
									$("#search-results").append('<span class="title_search_ar">'+name+'</span>');
									for(var j = 0; j < response[3].length;j++){
										if(name == response[3][j].name)
										$("#search-results").append('<li><a class="element_search" href = "/song/' + response[2][j].id + '/">' + response[2][j].title + '</a></li>');
									}
								}
							}
						}

					},
				});
			}
		});
	</script>
</body>

</html>